$fontFamily: sans-serif;

// colors
$red: red;
$green: green;
$black: black;
$white: #ffffff;

// margins
$unitGap: 1rem;
$doubleGap: 2rem;

.price {
  margin-top: $unitGap;
}

.price h3 {
  font-size: 1.5rem;
}

.price h4 {
  font-size: 1.25rem;
}
