$fontFamily: sans-serif;

// colors
$red: red;
$green: green;
$black: black;
$white: #ffffff;

// margins
$unitGap: 1rem;
$doubleGap: 2rem;

$gap1: 2em;
$gap2: 3.4em;
$gap3: 4em;

.card {
    background-color: $white;
    height: 100px;
    width: 140px;
    margin-top: 0em;
    margin-bottom: $unitGap;
    border-radius: 4%;
    transition: all ease 0.25s;
    align-items: center;
    justify-content: center;
    margin-right: $gap2;
    border: none
    /* padding-bottom: 0rem; */ 
  }
.inRow {
  display: flex;
  flex-direction: row;
  margin-left: $gap2;
  margin-top: $gap1;
}
.rightCard {
  border-right: $gap3;
}
.imageSize {
  width: $gap1;
  height: $gap1;
  margin: auto
}
