// _$fontFamily: sans-serif;

// colors
$red: red;
$green: green;
$black: black;
$white: #ffffff;

// margins
$unitGap: 1rem;
$doubleGap: 2rem;
$font-stack: "Arial", sans-serif;
$font-weight-bold: 500;
$font-size: 3vh;
$margin-mobile: 3em;
$margin-desktop: 0.3em;

$fontFamily: sans-serif;

.left-arrow-icon {
  /* margin-right: 30px; Add margin for spacing between the icons */
  border: none;
  background: transparent;
}

.dropdown-toggle::after {
  /* Hide the arrow down icon */
  display: none !important;
}
.flexOne {
  flex: 1;
  // background-color: yellow;
  margin-right: -4.8em;
}

// Common styles for both mobile and desktop
.nameStyles {
  font-weight: $font-weight-bold;
  font-size: $font-size;
  flex: 2;
  // background-color: red;
}

// Mobile styles
@media screen and (max-width: 768px) {
  .nameStyles {
    margin: 0 $margin-mobile;
  }
}

// Desktop styles
@media screen and (min-width: 769px) {
  .nameStyles {
    margin: 0 $margin-desktop;
  }
}

.headerBackground1 {
  margin-top: -6.2em;
  width: 31em; /* Adjust the width of your container */
  height: 2em; /* Adjust the height of your container */
  display: flex;
  background: linear-gradient(#eff5ff, #eff5ff 25%, #eff5ff 25%, #eff5ff 75%, $white 75%, $white)
}
.headerBackground2 {
  background-color: $white;
  margin-top: 0em;
  padding-top: 2em;
  padding-bottom: 1em;
  display: flex;
  // color: rgb(207, 6, 73);
}

.imageSize {
  height: 1rem;
}
.smallImageSize {
  margin-left: 6em;
  height: 0.1rem;
  margin-right: 1em;
}
.marginRemove {
  margin-left: 4.5em;
}
.marginShare {
  margin-right: 6em;
}
.marginCourier {
  margin-left: 3em;
}
.marginEdit {
  margin-left: 6.1em;
}
.red {
  color: $red
}
.bold {
  font-weight: 1500;
}
.curve {
  border-radius: 10% !important;
}
.white {
  flex: 1;
  background-color: $white;
}
.applicationBg {
  flex: 1;
  background-color: #eff5ff;
}