$fontFamily: sans-serif;

// colors
$red: red;
$green: green;
$black: black;
$white: #ffffff;

// margins
$unitGap: 1rem;
$doubleGap: 2rem;

.card {
  background-color: $white;
  height: 180px;
  width: 340px;
  margin-bottom: 8rem;
  border-radius: 4%;
  transition: all ease 0.25s;
  padding: 15px;
  padding-bottom: 0rem;
}
.expandedCard {
  height: 230px; /* Set the height to 200px when the card is expanded */
}
.centerItems {
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  justify-content: center
}
.card:hover {
  transform: translateY(-10px);
}

.main-text {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media only screen and (max-width: 360px) {
  .card {
    width: 90%;
  }
}
